version: '3'
services:
  legacy-project-processor:
    image: legacy-project-processor:latest
    container_name: legacy-project-processor
    build:
      context: ../
      dockerfile: docker/Dockerfile
    # env_file:
    #  - api.env
    command: run start
    # command: run test
    # command: run test:cov
